{
    "printWidth": 85,
    "arrowParens": "always",
    "semi": false,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.tsx",
            "options": {
                "parser": "html"
            }
        },
        {
            "files": "*.js",
            "options": {
                "parser": "babel"
            }
        },
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript"
            }
        }
    ]
}
